---
layout: default
title: Post Index
permalink: /posts/
---

<!-- Main -->
<div id="main" class="index">
    <section>
      <h2><a href="{{ page.url }}">Post Index</a></h1>
      <table>
        {% for post in site.posts %}
          <tr>
            <td>{{ post.date | date: "%b %-d, %Y" }}</td>
            <td> {% if post.reddit %} &nbsp;&nbsp; <a href="{{post.reddit}}"><img src="https://www.redditstatic.com/spreddit5.gif" /></a> &nbsp; {% endif %} </td>
            <td> <a href="{{ post.url }}">{{ post.title }}</a> </td>
          </tr>
        {% endfor %}
      </table>
    </section>
</div>
