---
layout: default
title: Post Index
permalink: /posts/
---

<!-- Main -->
<div id="main" class="index">
    <section>
      <h2><a href="{{ page.url }}">Post Index</a></h1>
      <table>
        {% for post in site.posts %}
          <tr>
            <td style="white-space: nowrap;">{{ post.date | date: "%b %-d, %Y" }}</td>
            <td style="line-height: 0;" class="social">{% if post.reddit %}&nbsp;<a href="{{post.reddit}}"><i class="fa fa-reddit"></i></a>&nbsp;{% endif %}</td>
            <td style="width: 100%;"> <a href="{{ post.url }}">{{ post.title }}</a> </td>
          </tr>
        {% endfor %}
      </table>
    </section>
</div>
