/*

http://www.soulcraft.co/essays/the_12_common_archetypes.html

*/

body.outlaw    h1 { color: rgb(246,242,195); text-shadow: 0px 0px 4px #111; }
body.jester    h1 { color: rgb(250,228,179); text-shadow: 0px 0px 4px #111; }
body.lover     h1 { color: rgb(244,199,166); text-shadow: 0px 0px 4px #111; }
body.caregiver h1 { color: rgb(238,180,154); text-shadow: 0px 0px 4px #111; }
body.everyman  h1 { color: rgb(236,158,146); text-shadow: 0px 0px 4px #111; }
body.innocent  h1 { color: rgb(235,173,183); text-shadow: 0px 0px 4px #111; }
body.ruler     h1 { color: rgb(220,188,203); text-shadow: 0px 0px 4px #111; }
body.sage      h1 { color: rgb(165,169,206); text-shadow: 0px 0px 4px #111; }
body.magician  h1 { color: rgb(134,184,220); text-shadow: 0px 0px 4px #111; }
body.hero      h1 { color: rgb(159,218,228); text-shadow: 0px 0px 4px #111; }
body.creator   h1 { color: rgb(167,206,179); text-shadow: 0px 0px 4px #111; }
body.explorer  h1 { color: rgb(237,242,219); text-shadow: 0px 0px 4px #111; }

